extends layout

block content
  h2= title

  form(method="POST")
    label(for="name") Name:
    input#name(type="text", name="name", required, value=category ? category.name : '')
    br

    label(for="description") Description:
    textarea#description(name="description")= category ? category.description : ''
    br

    button(type="submit") Submit
