doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    header
      h1 Inventory Management
      nav
        a(href="/") Home |
        a(href="/categories") Categories |
        a(href="/items") Items
    main
      block content
